@import "partials/bootstrap";

p.intro {
  display: block;
  min-height: 80px;
  height: auto !important;
  height: 80px;
  border-top: 5px solid $grayLight;
  padding-top: $baseline/2;
}

.topbar {
  img {
    float: right;
    margin-right: 10px;
    height: 30px;
    margin-top: 5px;
  }
}
.dropdown-menu {
  width: 250px;
}
.hero-unit {
  margin-top: 60px;
  h1 {
    margin-bottom: 0.5em;
  }
}
.masthead {
  padding-top: 40px;
  text-align: center;
  background: $grayLighter;
  border-bottom: 1px solid $grayLighty;
  @include vertical-gradient($grayLighty, $grayLighter);
  .container {
    padding: $baseline*2 0;
  }
  p {
    font-size: 20px;
    line-height: 27px;
  }
}
.portfolio {
  h2 {
    text-align: center;
    margin-bottom: $baseline/2;
    margin-top: $baseline;
  }
}
