@import "partials/bootstrap";

body {
  @include vertical-three-colors-gradient(#2e2e2e, #2e2e2e, 20%, #555)
}

.logo {
  padding: 1em 0;
}

ul.menu {
  list-style: none;
  margin: 0;
  width: 150px;
  a {
    color: $siteText;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  li {
    margin-bottom: 1em;
  }
}

ul.primary {
  margin-top: 150px;
}

ul.secondary {
  margin-top: 1.2em;
  padding-top: 1.2em;
  border-top: 1px solid $siteText;
}

.masthead {
  @include border-radius(6px);
  background-color: darken($siteBackground, 2%);
  border: 1px solid lighten($siteBackground, 5%);
  margin-bottom: 2em;
  padding: 2em 2em 1em 2em;
  h1 {
    
  }
  p {
    font-size: 13px;
    line-height: 1.6em;
  }
}

.hero p {
  text-align: center;
}

.footer {
  margin-top: $baseline*2;
  padding-bottom: $baseline*2;
  background: $siteFooter;
  border-top: 1px solid #000;
  p {
    font-size: 11px;
    color: $grayLight;
    a {
      color: $gray;
    }
    a:hover {
      color: $linkColor;
      text-decoration: none;
    }
  }
  p.copy {
    color: $grayLight;
  }
}
