<div class="container">
    
  <header class="hero-unit">
    <h1>About Us</h1>
    <p>Calavera Ltd. is an Auckland based specialist construction, installation and 
        exhibition company providing a range of services to the arts and creative 
        sector including museums, public and private galleries, artists and collectors.
    </p>

    <p>We have workshop and office premises in Henderson, West Auckland, and offer both 
        on and off-site services. We offer comprehensive no obligation quotes and can 
        provide consultation and advice - from the planning stages of your project 
        through to completion. 
    </p>

    <p>Key services include:</p>
    
    <ul>
        <li>Complete exhibition construction and consultation</li>
        <li>Qualified building service, including temporary and permanent exhibition walls</li>
        <li>Exhibition installation, including artwork &amp; object handling</li>
        <li>Custom display furniture, large or small runs</li>
        <li>Domestic and international art crating</li>
    </ul>
  </header>

</div>