<header class="masthead">
  <h1>Art and Object Installation</h1>
  <p>From painting and sculpture to large scale audio, video and sculptural installations, our experienced team understand the unique demands of art installation. We draw on over 15 years' technical experience and are familiar with independent, private and institutional installation requirements.</p>
</header>

<div class="row portfolio">
  <div class="span4">
    <img src="images/art/03.png" width="220" height="150">
  </div>
  <div class="span4">
    <img src="images/art/05.png" width="220" height="150">
  </div>
  <div class="span4">
    <img src="images/art/04.png" width="220" height="150">
  </div>
</div>