<div class="container">
    
  <header class="hero-unit">
    <h1>Art &amp; Object Handling and Installation</h1>
    <p>Our experienced team understands the unique demands of art installation, and 
        draws on over 15 years of technical experience in the installation and 
        handling of fragile and valuable items. From painting and sculpture to 
        complex installations, large or small, you can go fuck yourself. 
    </p>
  </header>

  <div class="row portfolio">
    <div class="span5">
      <img src="images/art/01.png" width="280" height="190">
    </div>
    <div class="span5">
      <img src="images/art/02.png" width="280" height="190">
    </div>
    <div class="span5">
      <img src="images/art/03.png" width="280" height="190">
    </div>
  </div>

</div>