<h1 class="mast">Project Consultation</h1>
<header class="masthead">
  <p>We encourage clients to collaborate with us throughout the design process, offering our experience and expertise and working with each client towards the best solution for every project.</p>
  <p>For all scales of project, whether large or small; private or commercial, contact us now to discuss your ideas and we'll work with you to turn your concept into a functional, durable and well crafted finished product.</p>
</header>

<div class="row portfolio">
  <div class="span4">
    <img src="images/consultation/01.png" width="220" height="150">
  </div>             
  <div class="span4">
    <img src="images/consultation/02.png" width="220" height="150">
  </div>             
  <div class="span4">
    <img src="images/consultation/03.png" width="220" height="150">
  </div>
</div>