<div class="container">
    
  <header class="hero-unit">
    <h1>Contact</h1>
    <p>To discuss your next project or to book a consultation, email us at <a href='mailto&#58;in%66o&#64;c&#97;l%61ve&#114;a&#37;2Ec&#111;&#46;%&#54;E&#122;'>inf&#111;&#64;c&#97;l&#97;v&#101;&#114;&#97;&#46;co&#46;nz</a></p>
    <p>
        Calavera Ltd.<br>
        Henderson<br>
        Auckland<br>
        New Zealand<br>
    </p>
  </header>

</div>