<div class="container">
    
  <header class="hero-unit">
    <h1>Crate-making</h1>
    <p>We offer a full range of crate-making services, from economical one-way travel cases to 
        museum-standard permanent storage and travelling crates. We use conservation approved 
        materials and stay in touch with current museum practice worldwide, ensuring that your 
        valuable items are in the best possible care, always.  
    </p>
    <ul>
        <li>International crate-making to ISPM 15 international standard</li>
        <li>Custom fitting of fragile and valuable artworks</li>
        <li>Archival and standard materials available</li>
        <li>On-site packing and fitting services</li>
    </ul>
  </header>

  <div class="row portfolio">
    <div class="span5">
      <img src="images/crates/01.png" width="280" height="190">
    </div>
    <div class="span5">
      <img src="images/crates/02.png" width="280" height="190">
    </div>
    <div class="span5">
      <img src="images/crates/03.png" width="280" height="190">
    </div>
  </div>

</div>