<h1 class="mast">Exhibition and Display Furniture</h1>
<header class="masthead">
  <p>From movable walls to plinths, display cases, and custom exhibition furniture, Calavera fabricates, delivers and installs. Our tailored workshop facilities enable us to offer a flexible and competitive fabrication and installation service, and we have extensive experience in finding solutions for unconventional and one-off projects.</p>
</header>

<div class="row portfolio">
  <div class="span4">
    <img src="images/exhibition/01.png" width="220" height="150">
    <img src="images/art/01.png" width="220" height="150">
  </div>
  <div class="span4">
    <img src="images/exhibition/02.png" width="220">
  </div>
  <div class="span4">
    <img src="images/exhibition/03.png" width="220">
  </div>
</div>
