<header class="masthead hero">
      <p>Calavera is a specialist construction and installation company providing a comprehensive range of services to the creative industry. We specialise in both on-site and off-site work, offering a high quality building, fabrication and installation service for projects of all sizes.</p>
</header>

<div class="row portfolio">
  <div class="span4">
    <h2>Project Construction</h2>
    <a href="/project"><img src="images/project/01.png" width="220" height="150"></a>
    <p class="intro">A full range of services in project fabrication and installation.</p>
  </div>
  <div class="span4">
    <h2>Building and Installation</h2>
    <a href="/installation"><img src="images/installation/01.png" width="220" height="150"></a>
    <p class="intro">A high quality building service suitable for exhibition environments.</p>
  </div>
  <div class="span4">
    <h2>Exhibition Furniture</h2>
    <a href="/exhibition"><img src="images/exhibition/01.png" width="220" height="150"></a>
    <p class="intro">Fabrication, delivery and installation of custom exhibition furniture and cabinetry.</p>
  </div>
  <div class="span4">
    <h2>Art and Object Installation</h2>
    <a href="/art"><img src="images/art/01.png" width="220" height="150"></a>
    <p class="intro">Extensive technical experience in art handling and installation.</p>
  </div>
  <div class="span4">
      <h2>Crate Making</h2>
      <a href="/crates"><img src="images/crates/02.png" width="220" height="150"></a>
      <p class="intro">A full range of crate making services, from international touring crates to economical one-way travel cases.</p>
  </div>
  <div class="span4">
      <h2>Project Consultation</h2>
      <a href="/consultation"><img src="images/art/01.png" width="220" height="150"></a>
      <p class="intro">Pre-build consultation and advice for all scales of project.</p>
  </div>
</div>