<header class="masthead">
  <div class="container">
      <img src="images/calavera-round80.png" width="99" height="80">
      <p>Calavera is a specialist construction and installation company providing a 
         comprehensive range of services to the creative sector.We specialise in both 
         on-site and off-site work, offering a high quality building, fabrication and 
         installation service for projects of all sizes.</p>
  </div>
</header>
<div class="container">

  <div class="row portfolio">
    <div class="span5">
      <h2>Project Construction</h2>
      <a href="/project"><img src="images/project/01.png" width="280" height="190"></a>
      <p class="intro">We provide a full range of services in the fabrication and installation of all kinds of projects.</p>
    </div>
    <div class="span5">
      <h2>Building &amp; Installation</h2>
      <a href="/installation"><img src="images/installation/01.png" width="280" height="190"></a>
      <p class="intro">Our extensive exhibition experience means that we are uniquely placed to provide clients with high quality onsite building services.</p>
    </div>
    <div class="span5">
      <h2>Exhibition &amp; Display</h2>
      <a href="/exhibition"><img src="images/exhibition/01.png" width="280" height="190"></a>
      <p class="intro">From plinths, display cases, and custom exhibition furniture to temporary and movable walls, Calavera fabricates, delivers and installs.</p>
    </div>
    <div class="span5">
      <h2>Art &amp; Objects</h2>
      <a href="/art"><img src="images/art/01.png" width="280" height="190"></a>
      <p class="intro">Our experienced team understands the unique demands of art installation, and draws on over 15 years of technical experience in the installation and handling of fragile and valuable items.</p>
    </div>
    <div class="span10">
      <h2>Crate-making</h2>
      <div class="row">
        <div class="span5 rows">
            <a href="/crates"><img src="images/crates/01.png" width="280" height="190"></a>
        </div>
        <div class="span5 rows">
            <a href="/crates"><img src="images/crates/02.png" width="280" height="190"></a>
        </div>
      </div>
      
      <p class="intro">We offer a full range of cratemaking services, from economical one-way travel cases to museum-standard permanent storage and travelling crates.</p>
    </div>
  </div>

</div>