<h1 class="mast">Building and Installation</h1>
<header class="masthead">
  <p>Our extensive exhibition experience means that we are uniquely situated to provide clients with a high quality building and installation service that is also sensitive to exhibition environments. Whether we are building permanent or temporary walls, complete exhibitions, or refurbishing a gallery, we ensure that our on-site work is as low impact as possible – which means that while we go about our work, you can get on with yours.
  </p>
</header>

<div class="row portfolio">
  <div class="span4">
    <img src="images/installation/02.png" width="220" height="150">
  </div>
  <div class="span4">
    <img src="images/installation/04.png" width="220" height="150">
  </div>
  <div class="span4">
    <img src="images/installation/05.png" width="220" height="150">
  </div>
</div>
