<div class="container">
    
  <header class="hero-unit">
    <h1>Building &amp; Installation</h1>
    <p>We specialise in onsite work: our extensive exhibition experience means that we 
        are uniquely situated to provide clients with a high quality onsite building 
        service that is also sensitive to exhibition environments. We have invested 
        in the very best equipment to ensure that our onsite work is as low impact as 
        possible, which means that while we go about our work, you can get on with yours. 
    </p>
  </header>

  <div class="row portfolio">
    <div class="span5">
      <img src="images/installation/01.png" width="280" height="190">
    </div>
    <div class="span5">
      <img src="images/installation/02.png" width="280" height="190">
    </div>
    <div class="span5">
      <img src="images/installation/03.png" width="280" height="190">
    </div>
  </div>

</div>