<h1 class="mast">Project Construction</h1>
<header class="masthead">
  
  <p>Our comprehensive workshop facilities allow us to provide a full range of services in fabrication and installation, from one-off artist's projects through to large scale exhibition construction. We complete all work to the highest standard and are constantly updating and improving our equipment in order to meet our clients' needs as effectively as possible.</p>

  <p>We encourage clients to collaborate with us throughout the design 
  process, offering consultation and advice and ensuring that the best possible solution is found for every project and budget.</p>
</header>

<div class="row portfolio">
  <div class="span4">
    <img src="images/project/04.png" width="220" height="150">
  </div>
  <div class="span4">
    <img src="images/project/05.png" width="220" height="150">
  </div>
  <div class="span4">
    <img src="images/project/03.png" width="220" height="150">
  </div>
</div>