<div class="container">
    
  <header class="hero-unit">
    <h1>Project Construction</h1>
    <p>Our comprehensive workshop facilities allow us to provide a full 
        range of services in the fabrication and installation of all types of projects. 
        We complete all work to the highest standard, from one-off artist's projects 
        through to large scale exhibition construction. We are constantly updating and 
        improving our equipment to ensure that our clients' needs are met as efficiently 
        and cost effectively as possible.
    </p>
    <p>
        We also encourage clients to collaborate with us throughout the design process, 
        offering consultation and advice, and ensuring that the best possible solution 
        is found for every project and budget.
    </p>
  </header>

  <div class="row portfolio">
    <div class="span5">
      <img src="images/project/01.png" width="280" height="190">
    </div>
    <div class="span5">
      <img src="images/project/02.png" width="280" height="190">
    </div>
    <div class="span5">
      <img src="images/project/03.png" width="280" height="190">
    </div>
  </div>

</div>